# stuff 2 ignore
archive
yolov5
raw_data
databases
resources

faster-rcnn.pytorch

datasets/**/**/train
datasets/**/**/test
datasets/**/**/val

datasets/**/**/*_results/labels

# packages
*.tar
*.zip
*.gz
